---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

html{
  font-size: 17px;
}

*{
  line-height: 1.65em;
}
body{
  font-size: 1rem;
  font-family: 'Space Mono', sans-serif;
}
h1, h2, h3{
  font-size: 1rem;
}
h1, h2, h3, h4, h5{
  padding-bottom: .5rem;
  padding-top: 1rem;
  line-height: 1.4em;
}

h2:not(:first-of-type){
  margin-top: 5rem;
}
h2{
  border-top: .125rem solid black;
}
p, ul li{
  padding: .5rem 0rem;
}
a{
  color: red;
  font-style: normal;
  &:hover{
    color:black;
  }
}
