---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

html{
  font-size: 18px;
}

*{
  line-height: 1.65em;
}
body, code{
  font-size: 1rem;
  // font-family: 'Space Mono', sans-serif;
  font-family: sans-serif;
  color: #777;
}

h1, h2, h3, h4, h5{
  font-size: 1rem;
  color: black;
  padding-bottom: .5rem;
  padding-top: 1rem;
  line-height: 1.4em;
}

h2:not(:first-of-type){
  margin-top: 5rem;
}
h2{
  line-height: 1rem;
  border-top: .125rem solid black;
}
h2 span{
    line-height: 1rem;
}
p, ul li, ol li{
  padding: .4rem 0rem;
}
ol.rounded-list {
   list-style-type: none;
 }
ol li{
  width: auto;
  float:none;
  border: none;
  height:inherit;
}
ol li a{
  color: black;
}
ol li.rounded-list-item{
  font-size: .7rem;
  counter-increment: item;
  margin-bottom: 5px;
}
ol li.rounded-list-item:before {
   margin-right: .5rem;
   content: counter(item);
   background: red;
   border-radius: 100%;
   color: white;
   width: 1.5em;
   height: 1.5em;
   line-height: 1.5em;
   text-align: center;
   display: inline-block;
   font-size: .7rem;
 }
a{
  color: red;
  font-style: normal;
  &:hover{
    color:black;
  }
}
code{
  background-color: #f7f7f7;
  font-size: 1rem;
  padding: .2rem;
}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.anchor{
  display: block;
  position: relative;
  margin-top: -250px;
  // visibility: hidden;
}
